<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Devices</div>
    <div class="panel-body">
      <!-- summary -->
    </div>

    <!-- List group -->
    <ul class="list-group">
      <% lights.each do |light| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-6 col-md-4"><%= light.name %></div>
            <div class="hidden-xs hidden-sm col-md-4"><%= light.device_type %></div>
            <div class="col-xs-6 col-md-4">
              <div class="mode">
                  <% if (defined? light.on?) %>
                      <input type="checkbox" name="onoffswitch" id="<%= light.name %>" <%= (light.on?) ? "checked" : "" %>>
                  <% end %>
              </div>
            </div>
          </div>
        </li>      
      <% end %>
    </ul>
</div>
  
<script type="text/javascript">
  $(document).ready(function() {
    $(".nav").removeClass('active');
    $("#nav-lights").addClass('active');
    $("[name='onoffswitch']").on('switchChange.bootstrapSwitch', function(event, state) {
          var nextMode = (state) ? "on" : "off";
          $.get('/lights/' + event.target.id + '/' + nextMode);
    });
    $("[name='onoffswitch']").bootstrapSwitch();
  });
</script>
