<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Sounds</div>
    <div class="panel-body">
      <!-- summary -->
    </div>
    
    <ul class="list-group">
        <% favorites.each do |favRaw| %>
            <% fav = favRaw.gsub /"/, '' %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6"><%= fav %></div>
                <div class="col-xs-6">
                  <button type="button" class='play-favorite' id="<%= fav %>">Play <%= fav %></button>
                  </div>
              </div>
            </li>
        <% end %>
    </ul>
    
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $(".nav").removeClass('active');
    $("#nav-sounds").addClass('active');
    
    $('.play-favorite').click(function(){
        $.get('/sounds/favorite/' + event.target.id);
    });
    
  });
</script>
